# Created by venv; see https://docs.python.org/3/library/venv.html

# ==============================================
# DJANGO E-COMMERCE PROJECT (TOHAR)
# ==============================================

# --- Entorno Virtual ---
venv
.env

# --- Archivos y carpetas de caché y compilados ---

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.bak
*.swp
*.tmp
*.cover
*.log
*.pid
*.sock
*.iml

# --- Archivos generados por colectstatic y media ---
staticfiles/
static/
media/
tmp/

# --- Archivos de dependencias ---
pip-wheel-metadata/
*.egg-info/
.eggs/
build/
dist/

# --- Archivos de pruebas y cobertura ---
.coverage
htmlcov/
coverage.xml
.tox/
nosetests.xml
*.spec
.pytest_cache/

# --- Archivos de configuración de Docker ---
.dockerignore
docker-compose.override.yml
**/.env.docker

# --- Archivos de IDE y editor ---
.vscode/
.idea/
.sublime-project
.sublime-workspace

# --- Archivos de sistema ---
*.DS_Store
Thumbs.db
Icon?
ehthumbs.db
Desktop.ini

# --- Otros ---
# Archivos personales o temporales
